<?xml version="1.0"?>
<Localization>
	<stringLanguage>USA</stringLanguage>
	<LastRunInformation>
		<LastRunAccount>
			<Account>1</Account>
			<Password></Password>
		</LastRunAccount>
		<IsRemerberPassword>false</IsRemerberPassword>
		<IsAutoLogin>false</IsAutoLogin>
	</LastRunInformation>
</Localization>
