<?xml version="1.0"?>
<Localization>
	<stringLanguage>CHN</stringLanguage>
	<LastRunInformation>
		<LastRunAccount>
			<Account>root</Account>
			<Password>root</Password>
		</LastRunAccount>
		<IsRemerberPassword>false</IsRemerberPassword>
		<IsAutoLogin>false</IsAutoLogin>
	</LastRunInformation>
</Localization>
